<script>
  $(document).ready(function () {
    $("#editForm").hide();
    $("#submit").hide();
    $("#cancel").hide();

    $("#cancel").click(function () {
      $("#editForm").hide();
      $("#editView").show();
      $("#submit").hide();
      $("#cancel").hide();
      $("#edit").show();
    });

    $("#edit").click(function () {
      $("#editForm").show();
      $("#editView").hide();
      $("#submit").show();
      $("#cancel").show();

      $("#edit").hide();

    });

  })
  var saveMoreModel = {};
  function submitStep(formId, arrayOfItems) {
    var $myForm = $(formId);
    if (!$myForm[0].checkValidity()) {
    }
    else {
      for (var i = 0; i < arrayOfItems.length; i++) {
        saveMoreModel[arrayOfItems[i]] = $('#' + arrayOfItems[i]).val();
      }

      $.ajax({
        url: '/save-more',
        type: 'put',
        data: saveMoreModel,

        success: function (result) {
          // Do something with the result
          window.location.href = '/save-more';
        }
      });
    }

  };
  function deleteItem(item){
    item = JSON.parse(item);
    $.ajax({
        url: '/save-items',
        type: 'delete',
        data: item,

        success: function (result) {
          // Do something with the result
          window.location.href = '/save-more';
        }
      });

  }

</script>



<% include ./partials/navigation-bar %>
<!-- <a href="/save-more?editMode=true" class="btn btn-default">Edit Saving Details</a> -->
<div style="margin-bottom: 50px"></div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  	<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Start Saving Now.</h2>
          <h4>Just wish and add, we will help you get it as soon as possible.</h4>
				</div>
			</div>
  <div class="row">
    <div class="col-md-6 animate-box">
      <div>
        <div class="box-header ui-sortable-handle" style="cursor: move;">
          <i class="ion ion-clipboard"></i>
          <h3 class="box-title">Start saving to get:</h3>
          <!-- <div class="box-tools pull-right">
          <ul class="pagination pagination-sm inline">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div> -->
        </div>

        <div class="box-body">
          <ul class="todo-list ui-sortable">

            <% items.forEach(function(item) { %>
            <li>
              <span class="handle ui-sortable-handle">
              </span>
              <span class="text"> <%= item.name %></span>
              <% if(!item.remaining){ %>
                <small class="label label-success"><i class="fa fa-clock-o"></i> Ready to buy</small>
                <% } %>
                <% if(item.remaining < 5){ %>
                  <small class="label label-warning"><i class="fa fa-clock-o"></i> <%= item.remaining %> months</small>
                  <% } %>
                  <% if(item.remaining > 5){ %>
                    <small class="label label-danger"><i class="fa fa-clock-o"></i> <%= item.remaining %> months</small>
                   <% } %>
              <span onclick="deleteItem('<%= JSON.stringify(item) %>')">
                  <i class="fa fa-trash-o"></i>
                </span>
            </li>
            <% }); %>
          </ul>
        </div>
        <div class="box-footer clearfix no-border">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalInsertItem"><i
              class="fa fa-plus"></i> Add Item</button>
        </div>
      </div>
    </div>



    <div class="col-md-6 animate-box">
      <div id="editView">
        <div id="sum_box" class="row mbl text-center">
          <div class="panel income db mbm">
            <div class="panel-body">
              <p class="icon">
                <img src="../public/images/piggy-bank.png" alt="avatar" class="rounded-circle img-responsive">

              </p>
              <h4 class="value">
                <span>Saving Details </span><span>(<%=currency.symbol_native %>)</span></h4>
                <div class="outer">
                  <div class= "middle">
                      <div class= "innie">

                        <div class="chip chip-md waves-effect">
                            Monthly Income : <%= savingDetails.monthlyIncome %>
                          </div>
                      
                      <div class="chip chip-md waves-effect">
                        Living Expenses : <%= savingDetails.livingExpenses %>
                      </div>
                      <%if (savingDetails.monthlyBills) { %>
                        <div class="chip chip-md waves-effect">
                        Monthly Bills : <%= savingDetails.monthlyBills %>
                      </div>
                      <% } %> 
                      <div class="chip chip-md waves-effect">
                        Bank Account : <%= savingDetails.bankAccount %>
                      </div>
                      </div>
                </div>
              </div>

             
            </div>
            <button id="edit" class="btn btn-primary mt-5">Edit</button>

          </div>
        </div>

      </div>
    <div id="editForm">
      <form id="myform">
        <div class="form-group">
          <label for="monthlyIncome">Monthly Income </label>
          <div class="row">
            <div class="col-md-12">
              <input type="number" step="0.01" required class="form-control"
                value="<%= typeof savingDetails.monthlyIncome != 'undefined' ? savingDetails.monthlyIncome : '' %>"
                id="monthlyIncome">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="livingExpenses">Living Expenses</label>
          <div class="row">
            <div class="col-md-12">
              <input type="number" step="0.01" required class="form-control"
                value="<%= typeof savingDetails.livingExpenses != 'undefined' ? savingDetails.livingExpenses : '' %>"
                id="livingExpenses">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="monthlyBills">Monthly Bills </label>
          <div class="row">
            <div class="col-md-12">
              <input type="number" step="0.01" class="form-control"
                value="<%= typeof savingDetails.monthlyBills != 'undefined' ? savingDetails.monthlyBills : '' %>"
                id="monthlyBills">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="bankAccount">Bank Account</label>
          <div class="row">
            <div class="col-md-12">
              <input type="number" step="0.01" required class="form-control"
                value="<%= typeof savingDetails.bankAccount != 'undefined' ? savingDetails.bankAccount : '' %>"
                id="bankAccount">
            </div>
          </div>
        </div>
    </div>
    </form>
    <button id="cancel" class=" btn btn-primary mt-5">Cancel</button>
    <button id="submit" class="btn btn-primary mt-5"
      onclick="submitStep('#myform', ['monthlyBills','monthlyIncome','livingExpenses','bankAccount'])">Submit</button>


  </div>
</div>
</div>


<div class=" modal fade" id="modalInsertItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm vertical-align-center" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../public/images/piggy-bank.png" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <div class="modal-body mb-1">
        <!-- 
        <h5 class="mt-1 mb-2">Maria Doe</h5>

        <div class="md-form ml-0 mr-0">
          <input type="password" type="text" id="form29" class="form-control form-control-sm validate ml-0">
          <label data-error="wrong" data-success="right" for="form29" class="ml-0">Enter password</label>
        </div>

        <div class="text-center mt-4">
          <button class="btn btn-cyan mt-1">Login <i class="fas fa-sign-in ml-1"></i></button>
        </div> -->

        <form action="/save-items" method="POST">

          <div class="col-md-push-1 animate-box">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label data-error="wrong" data-success="right" for="name" class="ml-0">Enter Name of
                    Item you're saving for:</label>
                  <input required type="name" id="name" name="name" class="form-control"
                    value="<%= typeof name != 'undefined' ? name : '' %>" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label data-error="wrong" data-success="right" for="price" class="ml-0">Enter its
                    price in <%= currency.code + ' (' + currency.symbol_native + ')' %>:</label>
                  <input required type="number" id="price" name="price" class="form-control"
                    value="<%= typeof price != 'undefined' ? price : '' %>" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label data-error="wrong" data-success="right" for="date" class="ml-0">Deadline of
                    buying your required item:</label>
                  <input required type="date" id="date" name="date" class="form-control"
                    value="<%= typeof date != 'undefined' ? date : '' %>" />
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Submit Item" class="btn btn-primary">
                </div>

              </div>
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>
</div>