<% include ./partials/navigation-bar %>
  <div id="fh5co-contact">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Register</h2>
            <p>Save more, pay less and start your savings goals journey.</p>
          </div>
        </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
              <% include ./partials/messages %>
              </div>
            <form action="/users/register" method="POST">
            <div class="col-md-10 col-md-push-1 animate-box">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <input
                          type="name"
                          id="name"
                          name="name"
                          class="form-control"
                          placeholder="Name"
                          value="<%= typeof name != 'undefined' ? name : '' %>"
                        />
                      </div>
                </div>
              </div>
              <div class="row">

                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <input
                          type="email"
                          id="email"
                          name="email"
                          class="form-control"
                          placeholder="Email"
                          value="<%= typeof email != 'undefined' ? email : '' %>"
                        />
                      </div>
                </div>
              </div>


              <div class="row">

                  <div class="col-md-6 col-md-offset-3">
                      <div class="form-group">
                          <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="Password"
                            value="<%= typeof password != 'undefined' ? password : '' %>"
                          />
                        </div>
                  </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <input
                              type="password"
                              id="password2"
                              name="password2"
                              class="form-control"
                              placeholder="Confirm Password"
                              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                            />
                          </div>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                          <select class="form-control"  name="country" id="country">
                            <% Countries.forEach(function(Country) { %>
                            <option value=<%= Country.code %>><%= Country.code %> (<%= Country.name %>)
                            </option>
                            <% }) %>
                        </select>
                          </div>
                    </div>
                  </div>

                <div class="col-md-12 col-md-offset-5">
                  <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary">
                  </div>
              
                </div>
                <div class="col-md-12 col-md-offset-4">
                    <p class="lead mt-4">
                        Have an Account? <a href="/users/login">Login</a>
                      </p>
                  </div>
              </div>
            </div>
          </form>
        

          </div>
        </div>
    </div>
